/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-adag-hero-slider {
	border: 2px dotted rgb(255, 8, 214);
	overflow: hidden;

	> .block-editor-inner-blocks {
		box-sizing: border-box;
		width: 100%;
		overflow-x: visible;
		overflow-y: hidden;

		> .block-editor-block-list__layout {
			display: flex;
			flex-direction: row;
			flex-wrap: nowrap;
			position: static;

			> .wp-block-cover,
			> .wp-block-group,
			> .wp-block-media-text {
				position: relative;
				min-width: 100%;
			}
		}
	}
}

.wp-block-adag-hero-slider
	> .block-editor-inner-blocks
	> .block-editor-block-list__layout
	> .block-list-appender {
	top: 0;
	button {
		background-color: black;
		color: white;
		display: flex;
		flex-direction: row;
		height: 50px;
		font-size: 1rem;
		font-weight: bold;
		svg {
			font-size: 1.5rem;
			width: 1em;
			height: 1em;
		}
		&::before {
			content: "Adicionar Slide";
			display: inline-block;
		}
	}
}

.embla {
	overflow: hidden;
}
.embla__container {
	display: flex;
}
.embla__container .wp-block-cover,
.embla__slide {
	position: relative;
	flex: 0 0 100%;
}

.hero-slider-settings-panel {
	> div.components-panel__header > h2 {
		font-size: 1.05rem;
		font-weight: bold;
		margin-bottom: 0px;
	}
	.settings-field {
		> legend {
			font-weight: bold;
			margin: 0.325rem 0;
		}
		.components-unit-control {
			margin-bottom: 0.75rem;
		}
	}
}
