/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-adag-hero-slider {
	border: 2px dotted rgb(255, 8, 214);
	background-color: #21749b2a;

	padding-bottom: 5.15rem;
	> .block-editor-inner-blocks {
		overflow: hidden;
		width: 100%;

		> .block-editor-block-list__layout {
			display: flex;
			flex-direction: row;
			flex-wrap: nowrap;
			position: static;

			overflow-x: auto;
			overflow-y: hidden;

			> .wp-block-cover,
			> .wp-block-group,
			> .wp-block-media-text {
				position: relative;
				min-width: 100%;
			}
		}
	}
}

.wp-block-adag-hero-slider
	> .block-editor-inner-blocks
	> .block-editor-block-list__layout
	> .block-list-appender {
	left: 2rem;
	right: 2rem;
	bottom: 1rem;
	button {
		display: flex;
		flex-direction: row;
		height: 50px;
		font-size: 1rem;
		font-weight: bold;
		border-radius: 6px;
		svg {
			font-size: 1.5rem;
			width: 1em;
			height: 1em;
		}
		&::before {
			content: "Adicionar Slide";
			display: inline-block;
		}
	}
}

.embla {
	overflow: hidden;
}
.embla__container {
	display: flex;
}
.embla__container .wp-block-cover,
.embla__slide {
	position: relative;
	flex: 0 0 100%;
}
